* {
    font-family:Arial;
    background-color:lightcyan
}
/* fixed positions, center aligns, border styles and bg colors
*/
div.fixed{
    position: fixed;
    bottom: 0;
    right: 0;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 20px;
    border: 7px dashed lightsteelblue;
    opacity:0.8;

}

h1{
  color:black;
  font-size:xx-large;
  font-weight:bolder;
  text-align:center;
  border-color:white;
  border-style:solid;
  border-width:3px;
  background-color:lightseagreen
  }

h2{
  color:black;
  font-size:x-large;
  font-weight:bolder;
  text-align:center;
  border-color:grey;
  border-style:solid;
  border-width:3px;
  background-color:lightseagreen
}

p{
  text-align:center;  
}