@font-face {
    font-family: 'Playfair Display'; 
    src: url('https://montana-media-arts.github.io/341-web-design-Fall2020-resources/fonts/PlayfairDisplay-BoldItalic.tff')
    format('truetype');
        font-weight: normal;
        font-style: normal;
}
@font-face { 
    font-family: 'Playfair Display'; 
    src: url('https://montana-media-arts.github.io/341-web-design-Fall2020-resources/fonts/PlayfairDisplay-Regular.tff')
    format('truetype');
    font-weight: lighter;
    font-style: normal;
}
@font-face { 
    font-family: 'Playfair Display';
    src: url('https://montana-media-arts.github.io/341-web-design-Fall2020-resources/fonts/PlayfairDisplay-SemiBold')
    format('truetype');
    font-weight: normal;
    font-style: normal;
}

