 * {
    background-color: grey;
}

a {
  color: black;
  background-color: white;
  border-color: blue;
  border-width: 3px 2px 3px 2px;
  border-style: solid;
  position: relative;
  margin: auto
}

a:hover {
  color: white;
  background-color:blue;
  border-color: white;
  font-style: italic;
}

h1:hover {
    font-style: italic;
}

h2:hover {
    font-style: none;
}

a:active {
  color: black;
  background-color: darkblue;
  border-width: 1px 1px 1px 1px;
}

p:first-child::first-letter {
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    color:darkblue;
}

p{
    font-style: 'Playfair Display',
    serif;
    text-align:left;
    text-indent: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 15px;
    background-color: lightgrey;
    border-style: solid;
    border-color:blue;
    border-width: 2px 0px 2px 0px;

}

i{
    background-color: lightgrey;
}

b{
    background-color: lightgrey;
}
h1{
    font-family: 'Playfair Display',
    'font-italic';
    font-size:50px;
    background-color:white;
    text-align:center;
    border-style: solid;
    border-color: blue;
    border-width: 10px 15px 10px 15px;
    letter-spacing:2px;
    position:relative;
    margin: auto;
}

h2{
    font-family: 'Playfair Display',
    'font-italic';
    line-height: 50px;
    text-align: center;
    font-size: 40px;
    font-style: italic;
}


